@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/InconsolataLGCmarkup.otf') format('opentype');
       /* url('./assets/fonts/InconsolataLGCmarkup-Bold.otf') format('opentype'); */
  font-weight: normal;
  font-style: normal;
}

.App {
  position: relative;
  height: 100%;
  /* height: 100vh; */
  overflow-x: hidden;
}

.background-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  z-index: -1;
  background-color: #050A1F;
}

.background-white {
  position: fixed;
  top: 50vh;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: -1;
  background-color: #FCFCFC;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 90px;
  margin-right: 90px;
}

.cards-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  overflow-x: clip;
  flex-wrap: nowrap;
}

.overview-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.overview-image {
  width: 50px;
  height: 40px;
  object-fit: contain;
}

.money-icon {
  position:relative;
}
.money-icon img {
  width:100%;
  vertical-align:top;
}
.money-icon:after {
  content:'\A';
  position:absolute;
  width:82%; height:80%;
  top:7px; left:5px;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-radius: 50%;
}
